.button {
    color: white !important;
    background: #42A7E0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    padding: 1em 2em;
}

.button:hover {
    filter: brightness(97%);
}

.button--white,
.button--outline:hover {
    background: white;
    color: #3468A9 !important;
}

.button--outline {
    background: transparent;
    border: 2px solid white;
}

.button--150 {
    max-width: 150px;
    text-align: center;
    width: 150px;
}