.footer {

}

.footer__links {
    background: #F5F5F5;
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
}

.footer ul {
    list-style: none;
}

.footer li {
    margin: 1.5rem 0;
}

.footer li:not( :first-child ) {
    font-weight: 400;
}

.footer__social {
    background: #306AB6;
    color: white;
    padding: 80px;
    text-align: center;
}

.footer__social > * {
    margin: 30px 0;
}